@model Eyon.Models.ViewModels.CommunityViewModel
@{
    var title = "Create Community";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.Community.Id != 0)
        {
            <input type="hidden" asp-for="Community.Id" />
            title = "Edit Community";
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>
        <div class="col-9">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Community.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Community.Name" class="form-control" />
                    <span asp-validation-for="Community.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Community.WikipediaURL">Wikipedia Link</label>
                </div>
                <div class="col-8">
                    <input asp-for="Community.WikipediaURL" class="form-control" />
                    <span asp-validation-for="Community.WikipediaURL" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Community.County"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Community.County" class="form-control" />
                </div>
            </div>
            @if ( Model.Community.Id == 0 )
            {
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Community.CountryId">Country</label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Community.CountryId, Model.CountryList, "-- Please Select a Country --", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row hidden">
                    <div class="col-4">
                        <label asp-for="StateId">State</label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.StateId, Model.StateList, "-- Please Select a State --", new { @class = "form-control" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Community.Country.Name">Country</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Community.Country.Name" class="form-control" readonly="readonly" />
                        <input asp-for="Community.CountryId" class="form-control" hidden="hidden" />
                    </div>
                </div>
                @if ( Model.Community.CommunityState != null )
                {
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Community.CommunityState.State.Name">State</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Community.CommunityState.State.Name" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                }
            
            }

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Community.Active">Active</label>
                </div>
                <div class="col-8">
                    <input asp-for="Community.Active" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if ( Model.Community.Id != 0 )
                    {
                        // Edit button and back to list button
                        <partial name="_EditAndBackToListButton" model="Model.Community.Id" />
                    }
                    else
                    {
                        // Create button and back to list button
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script src="~/js/community/communty_search_state.js"></script>
}



