
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>


<p>The goal of Eyon is to preserve and promote the culinary richness of communities.</p>

<div>
    <ul>
        <li><a href="https://siouxcityjournal.com/news/local/a1/community-cookbooks-disappear-in-a-digital-world/article_fc0941e4-39ca-5b4b-ac42-93fd4ed69a9b.html">Pages from the past Community cookbooks disappear in a digital world</a></li>
    </ul>
</div>

