@model Eyon.Models.ViewModels.CookbookViewModel
@{
    var title = "Create Cookbook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.Cookbook.Id != 0)
        {
            <input type="hidden" asp-for="Cookbook.Id" />
            title = "Edit Cookbook";
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>
        <div class="col-9">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cookbook.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cookbook.Name" class="form-control" />
                    <span asp-validation-for="Cookbook.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cookbook.Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cookbook.Description" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cookbook.Author"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cookbook.Author" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cookbook.Copyright"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cookbook.Copyright" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cookbook.ISBN"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cookbook.ISBN" class="form-control" />
                </div>
            </div>
            <partial name="_SelectedCategories" model="Model.Categories" />
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Cookbook.Id != 0)
                    {
                        // Edit button and back to list button
                        <partial name="_EditAndBackToListButton" model="Model.Cookbook.Id" />
                    }
                    else
                    {
                        // Create button and back to list button
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>