@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sharing Culinary Richness";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The purpose of Eyon is to preserve, promote and share the culinary richness of communities in a digital era.</p>
</div>
