
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Eyon</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if ( User.IsInRole(Eyon.Utilities.Statics.Roles.Seller)
                    || User.IsInRole(Eyon.Utilities.Statics.Roles.Admin)
                    || User.IsInRole(Eyon.Utilities.Statics.Roles.Manager) )
                    {
                        @if ( User.IsInRole(Eyon.Utilities.Statics.Roles.Admin) || User.IsInRole(Eyon.Utilities.Statics.Roles.Manager) )
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item text-white" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
                                    <a class="dropdown-item text-white" asp-area="Admin" asp-controller="Community" asp-action="Index">Communities</a>
                                    @if ( User.IsInRole(Eyon.Utilities.Statics.Roles.Admin) )
                                    {
                                        <a class="dropdown-item text-white" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                                    }
                                </div>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Seller Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                <a class="dropdown-item text-white" asp-area="Seller" asp-controller="Cookbook" asp-action="Index">Cookbooks</a>
                            </div>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
                <partial name="_Search" />
            </div>
        </nav>
    </header>