/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --primary: #4582EC;
    --secondary: #adb5bd;
    --success: #02B875;
    --info: #17a2b8;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --light: #f8f9fa;
    --dark: #343a40;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #272727;
    text-decoration: none;
}

    a:hover {
        color: #056b46;
        text-decoration: none;
    }

    a.pagelink {
        font-style: italic;
        color: rgba(39,39,39,0.8);
        cursor: pointer;
    }
    a.pagelink:hover {
        font-style: italic;
        color: rgba(20,10,10,0.95);
        cursor: pointer;
    }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #28a745;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


img.inherit {
    margin: 0;
    padding: 0;
    border-radius: inherit;
    border: inherit;
    width: 100%;    
}

a.inherit {
    margin: 0;
    padding: 0;
    border-radius: inherit;
    border: inherit;
    width: 100%;
    color: inherit;
}


.selectedCategoryNames {
    color: rgb(35, 147, 222);
}
/*  Search Categories Popup */
a.selected {
    background-color: #1F75CC;
    color: white;
    z-index: 100;
}

.searchpop {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    cursor: default;
    display: none;
    margin-top: 15px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 50;
    padding: 25px 25px 20px;
}

label {
    display: block;
    margin-bottom: 3px;
    padding-left: 15px;
    text-indent: -15px;
}

.searchpop p, .searchpop.div {
    border-bottom: 1px solid #EFEFEF;
    margin: 8px 0;
    padding-bottom: 8px;
}


/* End search categories popup*/

.login-form {
    width: 340px;
    margin: 50px auto;
}

    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .login-form h2 {
        margin: 0 0 15px;
    }


/* Show / hide div rows */
.hidden {
    visibility: hidden;
}

.visible {
    visibility: hidden;
}

input[type=submit][disabled]{
    background-color: #d9d9d9;
}

.font-thicker {
    font-weight: 600;
}

ol.instructions {
 
    padding: 0;
}



.instruction_number {
    clear: both;
    list-style: none;
    padding-left: 2%;
    margin-top: ;
}
li.instruction_item {
    padding-left: 1em;
    display: block;
    position: relative;
    counter-increment: inst;
    margin-top: .5em;
}

.instruction_item::before {
    margin-top: .75em;
    content: counter(inst);
    background: rgba(2, 184, 117, 0.9);    
    box-shadow: 0px 2px 2px rgba(100, 184, 117, 0.9);
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    text-shadow: 1px 1px rgba(2, 184, 117, 0.7);    
    border-radius: 0.675em 0 0 0.675em;
    font-size: 1.5em;
    text-align: center;
    padding-top: 0;
    padding-left: 2.25%;
    left: -5%;
    top: -0.65em;
    height: 1.35em;
    width: 1.35em;
    position: absolute;
    transition: all 0.2s ease-in-out;
}

.btn-danger-bright {
    background: #F70505 !important;
}

li.nostyle {
    list-style-type: none;
}

.instruction_textbox {
    border-radius: 0.45em !important;
}

.btnInstruction {
    height: 3em;
    width: 3em;      
    padding: 0 !important;
}

.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

.textbox-search-community {
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 400px) {    
    .ps {
        padding: 0.4rem;
    }
    .fs {
        font-size: 0.9em;
    }
}


ol#list_selected_cookbook {
    list-style: none;
    counter-reset: cookbook-counter;
}
    ol#list_selected_cookbook li {
        counter-increment: cookbook-counter;
        margin: 0.25rem;        
    }
        ol#list_selected_cookbook li span {
            display: inline-block;            
            min-width: 10em !important;
            padding-bottom: 5px;
        }
        @media (max-width: 800px) {
            ol#list_selected_cookbook li span {
                display: inline-block;
                min-width: 7em !important;
                padding-bottom: 5px;
            }
        }
        @media (max-width: 400px) {
            ol#list_selected_cookbook {                
                padding: 0;
            }
            ol#list_selected_cookbook li span {
                display: inline-block;        
                padding-bottom: 5px;
                font-size: 0.8em;
            }
            ol#list_selected_cookbook li::before {
                width: 1.0rem;
                height: 1.0rem;
            }
            ol#list_selected_cookbook li div {
                /*text-shadow: 1 1 1px blue;*/
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                margin: 0.1rem;
            }
        }
        
        ol#list_selected_cookbook li::before {
            content: counter(cookbook-counter);
            background: var(--success);
            width: 1.25rem;
            height: 1.25rem;
            padding-top: 0.1rem;
            border-radius: 50%;
            display: inline-block;
            line-height: 1rem;
            color: white;
            text-align: center;
            margin-right: 0.25rem;
            font-family: 'PT Serif', serif;
        }

        ol#list_selected_cookbook li div {
            /*text-shadow: 1 1 1px blue;*/
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 0.25rem;
        }

ol#list_selected_category {
    list-style: none;

}
    ol#list_selected_category li {
        border: 1px hidden rgb(35, 68, 186);
        border-radius: 5px;
        display: inline;
        background-color: rgb(181, 216, 255);
        color: rgb(35, 68, 186);
        margin-right: 0.3em;
        padding-left: 0.3em;
        font-weight: 200;
        white-space: nowrap;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }
        ol#list_selected_category li div {
            display: inline-block;
            padding: 0.3em 0.5em;
            font-size: 75%;
            font-weight: normal;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            margin-bottom: 0.3em;
            vertical-align: middle;
            cursor: pointer;
            -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        }
.text-emphasis {
    text-shadow: 0 0 1px black;
}

.feed-item {
    border: 1px solid black;
    margin-bottom: 3em; 
    
}