
@{
    ViewData["Title"] = "Sync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sync Topics</h1>


<div class="border-0">
    <div class="row px-2 mx-2 border-info">
        <div class="col-8">
            <div class="form-group row border-bottom">
                <div class="col-5 pt-1">
                    <b>Functionality</b>
                </div>
                <div class="col-3">

                </div>
            </div>
            <div class="form-group row border-bottom pb-2">
                <div class="col-5 pt-1">
                    Sync Community/Topic table
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <a href="/Admin/System/SyncTopic/0" class="btn btn-info rounded" style="cursor:pointer; width: 150px;">
                            <i class="fas fa-sync"> Community</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group row border-bottom pb-2">
                <div class="col-5 pt-1">
                    Sync Category/Topic table
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <a href="/Admin/System/SyncTopic/2" class="btn btn-info rounded" style="cursor:pointer; width: 150px;">
                            <i class="fas fa-sync"> Category</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group row border-bottom pb-2">
                <div class="col-5 pt-1">
                    Sync State/Topic table
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <a href="/Admin/System/SyncTopic/6" class="btn btn-info rounded" style="cursor:pointer; width: 150px;">
                            <i class="fas fa-sync"> State</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group row border-bottom pb-2">
                <div class="col-5 pt-1">
                    Sync Country/Topic table
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <a href="/Admin/System/SyncTopic/6" class="btn btn-info rounded" style="cursor:pointer; width: 150px;">
                            <i class="fas fa-sync"> Country</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
