@model Eyon.Models.ViewModels.RecipeViewModel
@{
    var title = "Create Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if ( Model.Recipe.Id != 0 )
        {
            <input type="hidden" asp-for="Recipe.Id" />
            title = "Edit Recipe";
        }
        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>

        <div class="col-9">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Recipe.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Recipe.Name" class="form-control" />
                    <span asp-validation-for="Recipe.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Recipe.Cooktime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Recipe.Cooktime" class="form-control" />
                    <span asp-validation-for="Recipe.Cooktime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <b>Ingredients</b>
                </div>
                <div class="col-8">
                    <div class="col-8">
                        <ol>
                            <li>One </li>
                            <li>Two </li>
                            <li>Three </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <b>Instructions</b>
                </div>
                <div class="col-8">
                    <ul class="instructions">
                        <li>
                            <div class="input-group">
                                <input type="text" class="form-control col-sm-1 instruction_number" />&nbsp;<input type="text" id="instruction_text" class="form-control col-sm-11" />
                            </div>
                        </li>
                    </ul>
                    <div class="row">
                        <button class="btn btn-primary" id="addInstruction">
                            <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-danger" id="removeInstruction">
                            <i class="far fa-minus-square fa-2x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if ( Model.Recipe.Id != 0 )
                    {
                        // Edit button and back to list button
                        <partial name="_EditAndBackToListButton" model="Model.Recipe.Id" />
                    }
                    else
                    {
                        // Create button and back to list button
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        var instructions = new Object();
    </script>
}