@model Eyon.Models.ViewModels.RecipeViewModel
@{
    var title = "Create Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" asp-route-id="@ViewBag.Id" enctype="multipart/form-data">
    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if ( Model.Recipe.Id != 0 )
        {
            title = "Edit Recipe";
            <input type="hidden" asp-for="Recipe.Id" />
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>

        <div class="col-9">
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Recipe.Name"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Recipe.Name" class="form-control" />
                    <span asp-validation-for="Recipe.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Recipe.Description"></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="Recipe.Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Recipe.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="IngredientsText"><b>Ingredients</b></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="IngredientsText" class="form-control col-sm-12" rows="4" placeholder="Put each ingredient on a different line"></textarea>
                    <span asp-validation-for="IngredientsText" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="InstructionsText"><b>Instructions</b></label>
                </div>
                <div class="col-9">
                    <textarea asp-for="InstructionsText" class="form-control col-sm-12" rows="4" placeholder="Put each instruction on a different line"></textarea>
                    <span asp-validation-for="InstructionsText" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="CommunityId">Community</label>
                </div>
                <div class="col-9">
                    <input asp-for="CommunityId" hidden />
                    <input type="text" asp-for="CommunityName" class="form-control" />
                    <span asp-validation-for="CommunityId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.PrepTime"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Recipe.PrepTime" class="form-control" />
                    <span asp-validation-for="Recipe.PrepTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.Cooktime"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Recipe.Cooktime" class="form-control" />
                    <span asp-validation-for="Recipe.Cooktime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.Servings"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Recipe.Servings" class="form-control" />
                    <span asp-validation-for="Recipe.Servings" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-3">
                    <label asp-for="Recipe.Privacy"></label>
                </div>
                <div class="col-4">
                    <select asp-for="Recipe.Privacy" class="form-control" asp-items="Html.GetEnumSelectList<Eyon.Models.Enums.Privacy>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Recipe.Servings" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">
                <div class="col-4">
                    <label>Add Images</label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" accept="image/gif, image/jpeg, image/png" />
                </div>
            </div>
            <div class="form-group row offset-3 col-9 p-0">

            </div>
            <div class="form-group row">
                <div class="col-9 offset-3">
                    @if ( Model.Recipe.Id != 0 )
                    {
                        // Edit button and back to list button
                        <partial name="_EditAndBackToListButton" model="Model.Recipe.Id" />
                    }
                    else
                    {
                        // Create button and back to list button
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script>
        $(function () {
            $('#CommunityName').autocomplete({
                source: '@Url.Action("Suggest", "Community")',
                minLength: 3,
                select: function (evt, ui) {
                    $('#CommunityId').val(ui.item.id);
                    $('#CommunityName').val(ui.item.label);
                }
            });
        });        
    </script>
}