@model Eyon.Models.ViewModels.RecipeViewModel
@{
    var title = "Create Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data" asp-route-id="@ViewBag.Id">
    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Recipe.Id" />
        @if ( Model.Recipe.Id != 0 )
        {
            title = "Edit Recipe";
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>

        <div class="col-9">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Recipe.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Recipe.Name" class="form-control" />
                    <span asp-validation-for="Recipe.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Recipe.Cooktime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Recipe.Cooktime" class="form-control" />
                    <span asp-validation-for="Recipe.Cooktime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <b>Ingredients</b>
                </div>
                <div class="col-8">
                    <div class="col-8">
                        <ul id="ingredients_list">
                            <li>One </li>
                            <li>Two </li>
                            <li>Three </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <b>Instructions</b>                    
                </div>
                <div class="col-8">
                    <ol class="instructions" id="instructions_list">
                        <li class="instruction_item">
                            <div class="col-sm-12 pl-0">
                                <div class="input-group">
                                    <input type="text" class="form-control instruction_number" name="instruction_0" id="instructionsStep_0" value="0" hidden />&nbsp;
                                    <textarea type="text" id="instruction_0" class="form-control instruction_textbox col-sm-11" rows="2"></textarea>&nbsp;
                                    <button type="button" class="btn btn-danger btnInstruction col-sm-1" id="removeInstruction" onclick="removeInstruction(0)">
                                        <i class="far fa-minus-square"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="nostyle">
                            <div class="col-sm-12 pl-0">
                                <div class="input-group">
                                    <div class="col-sm-11" >&nbsp;</div>                                    
                                    <button type="button" class="btn btn-primary btnInstruction col-sm-1" id="addInstruction">
                                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>                                                
                    </ol>                                        
                    <span asp-validation-for="Instructions" class="text-danger"></span>
                    @*<div class="row">
                        <button type="button" class="btn btn-primary" id="addInstruction">
                            <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                        </button>                        
                    </div>*@
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if ( Model.Recipe.Id != 0 )
                    {
                        // Edit button and back to list button
                        <partial name="_EditAndBackToListButton" model="Model.Recipe.Id" />
                    }
                    else
                    {
                        // Create button and back to list button
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        // Begin Instructions        
        var instructions = {};
        var instructionCounter = 0;        
        var newInstructionsCounter = 0;
        @if ( Model.Instructions != null && Model.Instructions.Count > 0 ) {
            foreach ( var instr in Model.Instructions.OrderBy(x => x.StepNumber) )
            {
                <text>
                    instructions[@instr.StepNumber] = '@instr.Text';
                </text>
            }
            <text>
                instructionCounter = @Model.Instructions.Max(x => x.StepNumber) ;                                
            </text>
        }

        $(document).ready(function () {            
            createInstructionsList();
            createAddInstructionButton();

            $("#instructions_list").on("click", "#addInstruction", function () {
                saveCurrentInstructions();
                createInstructionsList();
                newInstructionsCounter++;
                createInstruction(newInstructionsCounter + instructionCounter, '');
                createAddInstructionButton();
            });
        });
       


        function createInstructionsList() {
            $("#instructions_list").empty();
            if (instructionCounter == 0) {
                newInstructionsCounter++;
                createInstruction(newInstructionsCounter + instructionCounter, '');
            } else {
                for (var i = 1; i <= instructionCounter + newInstructionsCounter; i++) {
                    if ( instructions[i] !== 'undefined' )
                        createInstruction(i, instructions[i]);
                    else 
                        createInstruction(i, '');
                }
            }            
        }

        function createInstruction(index, text) {                        
            $("#instructions_list").append('<li class="instruction_item"> <div class="col-sm-12 pl-0"> <div class="input-group">'
                    + '<input type="text" class="form-control instruction_number" name="instruction_' + index + '" id="instructionsStep_' + index + '" value="' + index + '" hidden />&nbsp;'
                    + '<textarea type="text" name="instruction_' + index + '" id="instructionText_' + index + '" class="form-control instruction_textbox col-sm-11" rows="2">' + text + '</textarea>'
                    + '&nbsp;<button type="button" class="btn btn-danger btnInstruction col-sm-1" onclick="removeInstructionItem('+index+');"> <i class="far fa-minus-square"></i> </button>'                    
                    + '</div></div></li>');
        }

        function createAddInstructionButton() {
            $("#instructions_list").append(` <li class="nostyle">
                                                <div class="col-sm-12 pl-0">
                                                    <div class="input-group">
                                                        <div class="col-sm-11" >&nbsp;</div>                                    
                                                        <button type="button" class="btn btn-primary btnInstruction col-sm-1" id="addInstruction">
                                                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                        `);
        }


        function saveCurrentInstructions() {
            var newInstructions = {};
            for (var i = 1; i <= (instructionCounter + newInstructionsCounter); i++) {
                // get current form values
                var textId;
                var number = i;

                textId = "#instructionText_" + number;
                var newText = $(textId).val();
                newInstructions[i] = newText;
            }
            instructions = {};
            instructions = newInstructions;
        }

        function removeInstructionItem(id) {
            var newInstructions = {};
            
            if (id <= instructionCounter)
                instructionCounter--;
            else
                newInstructionsCounter--;            
            var newLength = newInstructionsCounter + instructionCounter;
            for (var i = 1; i <= instructionCounter; i++) {
                if (i < id )
                    newInstructions[i] = instructions[i];
                else 
                    newInstructions[i] = instructions[i+1];
            }

            
            for (var i = instructionCounter + 1; i <= newLength; i++) {
                var textId;
                var number = i;
                if (i >= id)                     
                    number = i + 1;

                textId = "#instructionText_" + number;
                var newText = $(textId).val();
                newInstructions[i] = newText;
            }

            instructions = {};
            instructions = newInstructions;            
            createInstructionsList();
            createAddInstructionButton();
        }
        // End Instructions

    </script>
}