@model Eyon.Models.ViewModels.OrganizationViewModel

@{
    var title = "Create Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <form method="post" asp-action="Upsert">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if ( Model.Organization.Id != 0 )
            {
                <input type="hidden" asp-for="Organization.Id" />
                title = "Edit Organization";
            }
            <div class="col-12">
                <h2 class="text-primary">@title</h2>
                <br />
            </div>
            <div class="col-9">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Organization.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Organization.Name" class="form-control" />
                        <span asp-validation-for="Organization.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Organization.Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Organization.Description" class="form-control" />
                        <span asp-validation-for="Organization.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Organization.Type"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Organization.Type" class="form-control" />
                        <span asp-validation-for="Organization.Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Organization.Website"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Organization.Website" class="form-control" />
                        <span asp-validation-for="Organization.Website" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        Community Id
                    </div>
                    <div class="col-8">
                        Community Ids
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if ( Model.Organization.Id != 0 )
                    {
                        // Edit button and back to list button
                        <partial name="_EditAndBackToListButton" model="Model.Organization.Id" />
                    }
                    else
                    {
                        // Create button and back to list button
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
        </div>
        </div>
    </form>

