
<label id="selectedCategoryItem"></label>
     
<div class="row" id="filterForm">
    <div class="col-12">
        <div class="form-group row">
            <div class="col-2">
                <label for="filter"><h3>Search</h3></label>
            </div>
            <div class="col-6">
                <input type="text" id="filter" class = "form-control" style = "border: 1px solid black;" />                                        
            </div>
            <div class="col-2">
                <div value="Filter" class="btn btn-primary form-control" id="btnFilter"><i class="fas fa-search"></i>&nbsp;Filter</div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped" id="tableResults">
    <thead class="thead-light">
        <tr>
            <th scope="col" width="10%">
                #
            </th>
            <th scope="col" width="10%">
                Select
            </th>
            <th scope="col" width="20%">
                Category Name
            </th>
            <th scope="col">
                Display Order
            </th>
            <th scope="col" width="20%">

            </th>
        </tr>
    </thead>
    <tbody id="bodyResults">                
    </tbody>
</table>
    

