@model IEnumerable<Eyon.Models.Category>

<div class="form-group row">
    <div class="col-4">
        <h2 class="btn btn-dark form-control" ><i class="fas fa-plus-square"></i>&nbsp;Add Category</h2>
    </div>
    <div class="col-8">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <span class="text-black-50">#@item.Name</span>
            }
        }
    </div>    
</div>


