@model Eyon.Models.ViewModels.FeedViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container pb-3">
        @foreach ( var item in Model.FeedItems )
        {

            <div class="row" style="padding: 0 0 0 0;">
                <div class="col-sm-8">
                    <div class="card feed-item">
                        @if ( item.Topics != null && item.Topics.Count > 0 )
                        {
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-4">
                                        @item.Topics[0].Name
                                    </div>
                                    <div class="col-sm-3 offset-5">
                                        @item.FeedItem.CreationDateTime.ToString("MM/dd/yyyy")
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="card-body">
                            @item.FeedItem.Description
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>