@model Eyon.Models.ViewModels.FeedViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var item in Model.FeedItems) {
    <div class="row">
        <partial name="_FeedItemPartialView" model="item" />
    </div>
}
